<h1><%= @goal.name %></h1>

<p>
	Goal: <%= @goal.goal_wordcount %> words<br>
	Current: <%= @goal.current_wordcount %> words<br>
	Start date: <%= @goal.start_date %><br>
	End date: <%= @goal.end_date %>
</p>

<%= form_for :goal, url: user_goal_path(@user.id,@goal.id), method: :patch do |f| %>
	<p>
		<%= f.label :current_wordcount %><br>
		
		<!-- TODO: pull this logic into the model -->
		<% if Date.today >= @goal.start_date and Date.today <= @goal.end_date %>
			<%= f.text_field :current_wordcount %><br>
			<%= f.submit %>
		<% else %>
			<%= f.text_field :current_wordcount, :disabled => true %>
		<% end %>
	</p>
<% end %>

<br>

<h2>Progress</h2>
<table>
	<tr>
		<th>Day</th>
		<th>Wordcount</th>
	</tr>
	
	<% @goal.days.each do |day| %>
		<% if day.date <= Date.today %>
			<tr>
				<td><%= day.date %></td>
				<td><%= day.wordcount %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<div id='words_by_day_graph'></div>

<div id='donut_graph'></div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script>
	//<![CDATA[
	
		google.load("visualization", "1", { packages: ["corechart"] });
		
		google.setOnLoadCallback(function() {
		
			var data = new google.visualization.DataTable();
		
			data.addColumn('string', 'Day');
			data.addColumn('number', 'Words');
			data.addColumn('number', 'Par');
			data.addColumn('number', 'Adjusted');
			data.addColumn('number', 'Current Rate');
			
			var goalData = <%= @g_user_data.to_json %>;
			var dates = <%= raw @g_labels.to_json %>;
			var parData = <%= @g_ideal_par.to_json %>;
			
			var adj = <%= @g_adj_par.to_json %>;
			var cur_rate = <%= @g_cur_rate.to_json %>;
			
			for (var i = 0; i <= goalData.length; i++) {
				data.addRow([ dates[i], goalData[i], parData[i], adj[i], cur_rate[i] ]);
			}
			
	var chart = new google.visualization.ComboChart($('#words_by_day_graph')[0]);
		
	chart.draw(data, {
        title: 'Words By Day',
    
        height: 375,
    
        backgroundColor: '#FFFFFF',
    
        chartArea: {
          left: 100,
          top: 10,
          width: "70%",
          height:"70%"
        },
    
        vAxis: {
          title: 'Words',
          minValue: 0,
          maxValue: <%= @goal.goal_wordcount %>
        },
    
        series: {
          0: {
            type: 'bars',
			color: '#006600'
          },
          1: {
            type: 'line',
			color: '#BCBCBC',
			lineWidth: 1,
			pointSize: 0
          },
		  2: {
			type: 'line',
			lineWidth: 0,
			pointShape: 'triangle',
			pointSize: 5,
			color: '#890000'
		  },
		  3: {
			type: 'line',
			color: '#2EE1E9'
		  }
        },
    
        legend: 'none',
    
        pointSize: 2
      });
    });

	//]]>
</script>

<script>
//<![CDATA[
	
		google.load("visualization", "1", { packages: ["corechart"] });
		
		google.setOnLoadCallback(function() {
		
			var data;
		
			var cur_wordcount = <%= @goal.current_wordcount %>
			var goal_wordcount = <%= @goal.goal_wordcount %>
			var cur_par = <%= @cur_par %>
			
			if (cur_wordcount <= goal_wordcount) {
				data = google.visualization.arrayToDataTable([
					['Type', 'Count'],
					['Wordcount', cur_wordcount],
					['Remaining', goal_wordcount - cur_wordcount]
				]);
			} else {
				data = google.visualization.arrayToDataTable([
					['Type', 'Count'],
					['Wordcount', cur_wordcount]
				]);
			}
				
			var options = {
				title: 'Goal Progress',
				pieHole: 0.45,
				colors:['#66FF33','#C2C2A3'],
				tooltip:{text: 'value'},
				pieSliceText: 'none',
				legend: 'none'
			};
			
			var chart = new google.visualization.PieChart($('#donut_graph')[0]);
			
			chart.draw(data, options);
    });

	//]]>
</script>

<%= link_to "Back to " + @user.username, user_path(@user.id) %>
<%= link_to "Edit progress", user_goal_days_path(@user.id,@goal.id) %>